<div class="app-layout">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div #mainContent>
    <table rows="20">
      <tr>
        <td colspan="9">
          <cach-tree-view #cache class="tree-view"></cach-tree-view>
        </td>
        <td colspan="2">
          <div class="move-btn-container">
            <button #selectButton (click)="moveSelectedToCache()"
                                  [disabled]="isMoveDisabled()"
                                  [style.cursor]="isMoveDisabled() ? 'default' : 'pointer'"><<<</button>
          </div>
        </td>
        <td colspan="9">
          <db-tree-view #source class="tree-view"></db-tree-view>
        </td>
      </tr>
      <tr>
        <td>
          <button #createButton (click)="addCreate()"
                                [disabled]="isOperDisabled()"
                                [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">+</button>
        </td>
        <td>
          <button #deleteButton (click)="addDelete()"
                                [disabled]="isOperDisabled()"
                                [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">-</button>
        </td>
        <td colspan="3">
          <button #updateButton (click)="addUpdate()"
                                [disabled]="isOperDisabled()"
                                [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">a</button>
        </td>
        <td colspan="2">
          <button #applyButton (click)="applyChanges()"
                               [disabled]="isApplyDisabled()"
                               [style.cursor]="isApplyDisabled() ? 'default' : 'pointer'">Apply</button>
        </td>
        <td colspan="2">
          <button #resetButton class="reset-button"
                               (click)="resetTree()">Reset</button>
        </td>
      </tr>
    </table>
  </div>
  <div #loader [hidden]="!(source.service.loading || cache.service.loading)">
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
