<div class="app-layout">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>
  <div #mainContent>
    <table rows="20">
      <tr>
        <td colspan="9">
          <cach-tree-view #cache class="tree-view"></cach-tree-view>
        </td>
        <td colspan="2">
          <div class="move-btn-container">
            <div matTooltip="Move selected node from right treeview to left">
              <button (click)="moveSelectedToCache()"
                      [disabled]="isMoveDisabled()"
                      [style.cursor]="isMoveDisabled() ? 'default' : 'pointer'"><<<</button>
            </div>
          </div>
        </td>
        <td colspan="9">
          <db-tree-view #source class="tree-view"></db-tree-view>
        </td>
      </tr>
      <tr>
        <td>
          <div matTooltip="Add new child to the selected node in left treeview">
            <button (click)="addCreate()"
                    [disabled]="isOperDisabled()"
                    [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">+</button>
          </div>
        </td>
        <td>
          <div matTooltip="Delete selected node in the left treeview">
            <button (click)="addDelete()"
                    [disabled]="isOperDisabled()"
                    [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">-</button>
          </div>
        </td>
        <td colspan="3">
          <div matTooltip="Update selected node in the left treeview">
            <button (click)="addUpdate()"
                    [disabled]="isOperDisabled()"
                    [style.cursor]="isOperDisabled() ? 'default' : 'pointer'">a</button>
          </div>
        </td>
        <td colspan="2">
          <div matTooltip="Apply changes to the data base">
            <button (click)="applyChanges()"
                    [disabled]="isApplyDisabled()"
                    [style.cursor]="isApplyDisabled() ? 'default' : 'pointer'">Apply</button>
          </div>
        </td>
        <td colspan="2">
          <div matTooltip="Reset data base to the default state">
            <button class="reset-button"
                    (click)="resetTree()">Reset</button>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div #loader [hidden]="!(source.service.loading || cache.service.loading)">
    <div class="loader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
